.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backgroundImg {
  background: linear-gradient(rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%),
    url("../public/images/Krishna_M.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 95vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.optionSection {
  position: absolute;
  width: 70%;
  height: 180px;
  bottom: 10px;
  left: 15%;
  box-shadow: 10px 12px 30px 12px #d6d6d6;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionCard {
  background-color: #f7be7c;
  color: white;
  border: 4px solid #f4a761;
}

.card {
  text-align: center;
  padding: 40px 10px;
}

.optionCard:hover {
  background-color: #f4a761;
}

.eachSlideCard {
  border: 1px solid #f7be7c;
  width: 400px;
  height: 450px;
  padding: 10px;
  text-align: center;
}

.eachSlideCard img {
  width: 80%;
  height: 80%;
}

.marquee {
  height: 50px;
  position: relative;
  color: #333;
}

.marquee p {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #f4a761;
  font-weight: 600;
  font-size: 100%;
  margin: 0;
  text-align: center;
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -moz-animation: scroll-left linear infinite;
  -webkit-animation: scroll-left linear infinite;
  animation: scroll-left 20s linear infinite;
}

@-moz-keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 768px) {
  .optionCard {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card {
    padding: 10px;
  }
}
