.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.backgroundImg{
  background: linear-gradient( rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4)100%),url("../public/images/Krishna_M.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 90vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.optionSection{
  position: absolute;
  width: 70%;
  height: 180px;
  bottom: 40px;
  left: 15%;
  box-shadow: 10px 12px 30px 12px #d6d6d6;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionCard{
  background-color: #F7BE7C;
  color: white;
}

.card{
  text-align: center;
  padding: 40px 10px;
}

.optionCard:hover{
  background-color: #F4A761;
}

.eachSlideCard{
  border: 1px solid orange;
  width: 400px;
  height: 450px;
  padding: 10px;
  text-align: center;
}

.eachSlideCard img{
  width: 80%;
  height: 80%;
}

@media screen and (max-width: 768px){
  .optionCard{
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .card{
    padding: 10px;
  }
  
}